@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Madimi+One&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --primary-color: #6949ff;
  --secondary-color: #ffc107;
  --secondary-color-light: #f3f3f3;
  --secondary-color-dark: #231f20;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  color: var(--color-text); // Changer ici selon le thème initial
}

body.dark {
  --color-text: var(--color-text-light);
  background: var(--secondary-color-dark);
}
body.light {
  --color-text: var(--color-text-dark);
  background: var(--secondary-color-light);
}
.navbar_link {
  padding: 0 8px;
  display: flex;
  position: relative;
  text-decoration: none;
  color: var(
    --color-text
  ); // Utilise la variable --color-text pour définir la couleur du texte
  align-items: center;

  &:hover::after,
  &.active::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
  }
}

.custom-link {
  color: var(--color-text-title) !important;
  text-decoration: underline; // Ajouter un soulignement
  // Ajouter d'autres styles personnalisés selon vos besoins
}

.custom-link:hover {
  color: var(--color-text) !important; // Changer la couleur au survol
}

.card-new-ranking {
  background-image: url("../public/fonfVilot.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-new-prived {
  background-image: url("../public/fonfJaune.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-special {
  font-family: "Bangers", sans-serif !important;
  font-weight: bold;
  color: var(--text-color);
  font-size: "3em";
}

.text-card-home {
  font-weight: "bold";
  color: "var(--text-color)";
  font-family: "Madimi One", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.top-theme-title {
  font-weight: "bold";
  color: "var(--text-color)";
  font-family: "Madimi One", sans-serif !important;
}
.top-theme-link {
  color: "var(--text-color)";
  font-family: "Madimi One", sans-serif !important;
  font-size: 0.8rem;
}
